[
 {
   sumo_db,
   [
    {wpool_opts, [{overrun_warning, 100}]},
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends,
     [{sumo_test_backend_elasticsearch,
       sumo_backend_elasticsearch,
       [{host, "127.0.0.1"},
        {port, 9200},
        {index, "sumo_test"},
        {poolsize, 10}]
      }]
    },
    {stores,
     [{sumo_test_elasticsearch,
       sumo_store_elasticsearch,
       [{storage_backend, sumo_test_backend_elasticsearch},
        {workers, 10}]
      }]
    },
    {docs, [{sumo_test_people_elasticsearch, sumo_test_elasticsearch, #{module => sumo_test_people_elasticsearch}}]},
    {events,
      [{sumo_test_people_elasticsearch,
        sumo_test_people_elasticsearch_events_manager}]
    }
   ]
 },
 {sasl, [{sasl_error_logger, false}]}
].